.specificCenterLabel
{
    font-size: 0.85em
}

.commonCenterLabel
{
    font-size: 0.85em
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.labels {
    margin-top: -2em;
    display: flex;
    gap: 1em;
}