.container{
    display:flex;
}
/*Slideshow*/
.slideshow{
    width:50%;
    margin-right:20px;
}
.image-container img{
    height:700px;
    width:708px;
    border-radius: 5px;

}
/*Login wrapper*/
.login{
    display: flex;
    justify-content: center;
    text-align: center;
    width:50%;
    margin-top:100px;
}
.login-wrapper{
    background-color: white;
    width:500px;
    height:400px;
    padding-top:50px;
    border-radius: 20px;
}
.form-group{
    margin:15px 0px;
}
.form-group input{
    height:30px;   
    width:250px; 
    border-radius: 5px;
}
.form-button input{
    margin-top:15px;
    height:30px;   
    width:150px;
}