body {
    background-color: aliceblue !important;
}

hr {
    width: 90%;
}

.container {
    margin-top: 20px;
}

.row {
    display: flex;
}

.post {
    background-color: white;
    width: 700px;
    height: auto;
    margin-left: 150px;
    border-radius: 20px;
}

.top {
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
}

.top img {
    border-radius: 30px;
}

.top p {
    width: 300px;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 5px;
    font-weight: bold;

}

.content {
    padding: 0px 20px;
}

.bottom {
    padding: 0px 30px;
}

.bottom img {
    padding: 0px 0px;
    margin: 0px 15px;
}

.commentarea {
    display: flex;
    margin-top: 15px;
}

.cmtavatar {
    border-radius: 30px;
    margin-left: 15px;
}

.comment {
    width: 580px;
    height: auto;
    background-color: lightgrey;
    border-radius: 30px;
    padding: 0px 10px;
    margin-left: 15px;
}

.comment p {
    padding: 0px;
    margin-top: 5px;
}


.label {
    justify-content: center;
    text-align: center;
    background-color: #46434c;
    width: 300px;
    height: 700px;
    margin-left: 30px;
    margin-right: 4em;
    border-radius: 20px;
}

.label p {
    color: white;
    font-size: 20px;
    float: left;
    padding-left: 15px;
}

.label button {
    border-radius: 20px;
    width: 280px;
    height: 110px;
    margin-left: 0px;
}

.label button p {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    float: left;
}

.label button h5 {
    font-size: 15px;
    font-weight: bold;
    margin-top: -35px;
    color: white;
    float: left;
}
/*Medical and nonmed*/
.medical {
    margin-top: 10px;
    background-color: #0e49df;
    padding-top:15px;
}
.medical:hover {
    background-color: #0e49df;
}

.medical p:after {
    content: " Medical";
}

.medical:hover p:after {
    content: "Yes";

}

.nonmed {
    margin-top: 5px;
    background-color: cyan;
    padding-top:15px;
}
.nonmed:hover {
    background-color: #0e49df;
}

.nonmed p:after {
    content: " Nonmed";
}

.nonmed:hover p:after {
    content: "Yes";
}

.skip {
    margin-top: 5px;
    background-color: lightgrey;
    padding-top:15px;
}
.skip:hover {
    background-color: #0e49df;
}

.skip p:after {
    content: " Skip";
}

.skip:hover p:after {
    content: "Yes";
}

/*True or false*/
.true {
    margin-top: 10px;
    background-color: #2ae426;
    padding-top:15px;
}
.true:hover {
    background-color: #0e49df;
}

.true p:after {
    content: " True";
}

.true:hover p:after {
    content: "Yes";
}

.false {
    margin-top: 5px;
    background-color: rgb(240, 35, 32);
    padding-top:15px;
}
.false:hover {
    background-color: #0e49df;
}

.false p:after {
    content: "False";
}

.false:hover p:after {
    content: "Yes";
}

/*News or question*/
.news {
    margin-top: 10px;
    background-color: #9a21b6;
    padding-top:15px;
}
.news:hover {
    background-color: #0e49df;
}

.news p:after {
    content: " News";
}

.news:hover p:after {
    content: "Yes";
}

.notnews {
    margin-top: 5px;
    background-color: rgb(240, 223, 32);
    padding-top:15px;
}
.notnews:hover {
    background-color: #0e49df;
}

.notnews p:after {
    content: "Not News";
}

.notnews:hover p:after {
    content: "Yes";
}

/*Icon*/
.icon-area {
    float: left;
    margin-left: 30px;
}

.label .icon {
    margin: 30px 5px;
    float: left;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
}