.pill_container {
  display: flex;
  align-items: center;
  gap: 0.4em;
  border-radius: 1.2em;
  padding: 0.4em 0.8em;
  color: white;
  font-weight: 500;
}


.pill_container span {
  white-space: nowrap;
}