.pill_container {
  display: flex;
  align-items: center;
  gap: 0.4em;
  border-radius: 1.2em;
  padding: 0.4em 0.5em;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}


.pill_container span {
  white-space: nowrap;
  width: 5.5em;
}